# Core functionality - changes here should be rare!
/src/app.py                   @Nadaaabdlla
/src/backend/database.py      @Nadaaabdlla
/src/backend/routers/auth.py  @Nadaaabdlla

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Nadaaabdlla
